<script lang="ts">
	import { page } from '$app/stores';

	console.error($page.error.message, $page.status);
</script>

<div class="text-text">
	<h1 class="text-3xl font-bold">Ups..</h1>
	{#if $page.status === 404 && $page.error.message == 'Not Found'}
		<p>Stránka nenalezena.</p>
	{:else if $page.error.message && $page.error.message.length > 0 && $page.error.message !== 'Not found'}
		<p>{$page.error.message}</p>
	{:else if $page.status === 500}
		<p>Došlo k chybě na serveru.</p>
	{:else if $page.status === 403}
		<p>Nemáte oprávnění k zobrazení této stránky.</p>
	{:else if $page.status === 401}
		<p>Nejste přihlášen.</p>
	{:else}
		<p>Došlo k chybě. ({$page.status}: {$page.error.message})</p>
	{/if}
</div>
