<script lang="ts">
	import Dashboard from '$lib/components/home/dashboard/Dashboard.svelte';
	import Schedule from '$lib/components/home/schedule/Schedule.svelte';

	export let data: any = {};
</script>

<svelte:head>
	<title>reŠOL</title>
</svelte:head>

<Schedule {data} />
<Dashboard {data} />
