.nav-menu {
  width: 100%;
  height: fit-content;
  max-height: fit-content;
  line-height: normal;
  display: flex;
  justify-content: center;
  gap: 5%;
}

@media(hover: hover) {
  .header-hover::before {
    @apply bg-alttext;
    height: 1px;
  }
}

.nav-link {
  @apply text-alttext;
  height: fit-content;
}

.hamburger{
  display: none;
}

#dropdown-input {
  display: none;
}

.mobile-items {
  display: none;
}

@media(max-width:650px) {
  .nav-menu {
    display: none;
  }

  .header-icon {
    display: none !important;
  }

  #zak-header {
    padding: 0px 0px;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    width: 40px;
    height: 25px;
  }
  
  span.hamburger {
    gap: 5px;
    display: grid;
  }

  span.bar {
    @apply bg-alttext;
    width: 40px;
    height: 5px;
    transition: all 0.1s ease-in-out;
  }

  body.active {
    overflow-y: hidden;
  }

  .header.active .nav-menu {
    display: flex;
    position: fixed;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    top: 70px;
    @apply bg-background;
    width: 100%;
    height: 100%;
    z-index: 10;
    gap: 5px;
    padding-top: 15px;
    padding-bottom: 110px;
  }

  .header.active .nav-link {
    @apply text-text;
    font-size: large;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .dropdown-content {
    visibility: collapse;
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    border-radius: 0;
    gap: 5px;
  }
  .dropdown-content a {
    @apply text-text;
  }

  #dropdown-input:checked ~ * .dropdown-content {
    visibility: visible;
    display: flex;
  }

  .plus-minus:after {
    content: "+";
  }
  #dropdown-input:checked ~ * .plus-minus:after {
    content: "-";
  }
  
  .dropdown:hover .dropdown-content {display: none;}

  .dropdown-content a:hover{
    background-color: transparent;
  }
  
  #dropdown-item-1:hover {
    border-radius: 0;
  }
  
  #dropdown-item-3:hover {
    border-radius: 0;
  }

  .mobile-items {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: end;
    gap: 2vh;
    font-weight: bold;
  }

  .mobile-item {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #mobile-settings {
    color: var(--primary-text);
    @apply text-text;
  }
  #mobile-logout {
    @apply text-grade5;
    font-size: large;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    @apply border-2;
    @apply border-solid;
    @apply border-grade5;
  }
  .dropdown {
    width: 100%;
  }
  .nav-item {
    width: 100%;
    height: 40px;
  }
  .nav-link {
    text-align: left;
  }
  .nav-item:hover {
    @apply bg-supplement;
  }
  .a-hover:hover {
    position: static;
  }
  .a-hover::before {
    display: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

}

