<script lang="ts">
	import ContentView from '$lib/components/details/content/ContentView.svelte';
	import Icon from '@iconify/svelte';
	import { convertDateToString } from '$lib/js/core/date';

	import descriptionIcon from '@iconify/icons-material-symbols/description';
	import personIcon from '@iconify/icons-material-symbols/person';
	import dateRange from '@iconify/icons-material-symbols/date-range';
	import baselineRoom from '@iconify/icons-ic/baseline-room';

	import Row from '$lib/components/details/subject/Row.svelte';

	export let data: any = {};

	let teachers: any = [];
	let rooms: any = [];

	for (const teacher in data['teachers']) {
		teachers.push(data['teachers'][teacher]['displayName']);
	}

	for (const room in data['rooms']) {
		rooms.push(data['rooms'][room]['name']);
	}
</script>

<svelte:head>
	<title>{data['title'] || data['subject']['abbrev'] || 'Předmět'}</title>
</svelte:head>

<ContentView>
	<div class="sm:text-xl text-2xl p-2 flex flex-col sm:gap-2 gap-3">
		{#if data['hourType']['id'] == 'SKOLNI_AKCE'}
			<Row data={data['title']} name="Předmět" icon={descriptionIcon} />
		{:else}
			<Row data={data['subject']['name']} name="Předmět" icon={descriptionIcon} />
		{/if}

		<Row data={convertDateToString(new Date(data['beginTime']))} name="Datum" icon={dateRange} />
		<Row data={teachers.join(', ')} name="Učitel" icon={personIcon} />
		<Row data={rooms.join(', ')} name="Učebna" icon={baselineRoom} />
	</div>
</ContentView>
