<script lang="ts">
	import ContentView from '$lib/components/overview/ContentView.svelte';
	import Row from '$lib/components/overview/Row.svelte';
	import { convertDateToString } from '$lib/js/core/date';

	export let data: any = {};
</script>

<svelte:head>
	<title>Zprávy</title>
</svelte:head>

<ContentView>
	{#each data.messages as item, i}
		<Row
			link={`/message/${item.id}`}
			title={item.title}
			description={item.sender.name}
			read={item.read}
			date={convertDateToString(new Date(item.sentDate))}
		/>
		{#if i != data.messages.length - 1}
			<hr class="border-background border-solid border-2 w-full" />
		{/if}
	{/each}
</ContentView>
