<script lang="ts">
	// Get subject number and length of subject in props
	export let subjectNumber = 0;
	export let data: any = [];

	// console.log(data)

	const beginTime = data['lessons'][subjectNumber]['beginTime'].split('T')[1].split(':');
	const endTime = data['lessons'][subjectNumber]['endTime'].split('T')[1].split(':');
</script>

<div class="hour-item grid gap-0 w-[70px] h-[40px] justify-center items-center text-center">
	<p class="hour-item-subject font-bold text-md w-fit mx-auto text-alttext" id="subject-0">
		{subjectNumber}
	</p>
	{#if data['lessons'][subjectNumber]}
		<p class="hour-item-length text-sm text-alttext">
			{beginTime[0]}:{beginTime[1]}-{endTime[0]}:{endTime[1]}
		</p>
	{:else}
		<p class="hour-item-length text-sm text-alttext">no data</p>
	{/if}
</div>
