<script lang="ts">
	export let name: string;
	export let description: string = '';
	export let href: string = '';
	export let icon;

	import Icon from '@iconify/svelte';
</script>

<a
	{href}
	class="hover:bg-background transition-all rounded-md p-1 flex mb-1 mt-2 sm:text-base text-1xl"
>
	<div class="flex justify-center items-center gap-3">
		<div>
			{#if icon}
				<Icon class="text-2xl" {icon} />
			{/if}
		</div>
		<div>
			<a class="font-bold" {href}>{name}</a>
			<p class="text-description">{description}</p>
		</div>
	</div>
	<div class="flex ml-auto justify-center self-center w-10 text-2xl">></div>
</a>
