<script lang="ts">
	import SettingsButton from '$lib/components/settings/SettingsButton.svelte';
	import SettingsContent from '$lib/components/settings/SettingsContent.svelte';
	import SettingsDetails from '$lib/components/settings/SettingsDetails.svelte';
	import SettingsOverview from '$lib/components/settings/SettingsOverview.svelte';
	import SettingsSwitch from '$lib/components/settings/SettingsSwitch.svelte';

	import { deleteCache } from '$lib/js/core/cache';

	import { showSettingsBackArrow } from '$lib/stores/settings/general/backarrow';

	import backFill from '@iconify/icons-mingcute/back-fill';
	import cachedIcon from '@iconify/icons-material-symbols/cached';
</script>

<SettingsDetails>
	<SettingsContent>
		<SettingsButton
			title="Smazat cache"
			description="Smaže stará data ze serveru"
			buttonText="Smazat"
			icon={cachedIcon}
			callback={deleteCache}
		/>
		<SettingsSwitch
			setting="backarrow"
			store={showSettingsBackArrow}
			defaultValue={true}
			title="Ukazovat tlačítko zpět"
			description="Navigace mezi stránkami"
			icon={backFill}
		/>
	</SettingsContent>
</SettingsDetails>
