.first-row {
  display: grid;
  border-radius: 10px;
  margin-bottom: 6px;
  gap: 0px 4px;
}

.generic-row {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: repeat(7, auto);
  gap: 1px 4px;
}
