.loader {
  // border: 5px solid #f3f3f3;
  @apply border-[5px] border-solid border-gray-200;
  border-radius: 50%;
  @apply border-t-[5px] border-solid border-t-secondary;
  width: 30px;
  height: 30px;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
