<script lang="ts">
	import Icon from '@iconify/svelte';
	import { iconClasses } from './defaults';
	import type { Writable } from 'svelte/store';

	export let title: string = 'Kategorie';
	export let href: string = '/';
	export let icon: any;
	export let loader: Writable<boolean>;

	let loading = false;

	// delay the loading animation by 200ms
	$: {
		if ($loader) {
			setTimeout(() => {
				if ($loader) {
					loading = true;
				} else {
					loading = false;
				}
			}, 200);
		} else {
			loading = false;
		}
	}
</script>

<div class="flex justify-center items-center gap-2 mb-2">
	<div class="loader" class:hidden={!loading} id="dashboard-messages-loader" />
	<Icon class={iconClasses} {icon} />
	<a class="bg-gradient-to-r a-hover font-bold text-2xl" {href}>{title}</a>
</div>

<style lang="postcss">
	a {
		@apply from-grade2;
		@apply to-grade1;
		color: transparent;
		@apply bg-clip-text;
	}

	a:visited {
		color: var(--primary-text);
	}
</style>
