<script lang="ts">
	import SettingsDetails from '$lib/components/settings/SettingsDetails.svelte';
	import ThemeSelector from '$lib/components/settings/appearance/ThemeSelector.svelte';
</script>

<SettingsDetails>
	<ThemeSelector />
</SettingsDetails>
