<script>
	import ContentView from '$lib/components/details/content/ContentView.svelte';
	import Row from '$lib/components/details/subject/Row.svelte';
	import { convertDateToString } from '$lib/js/core/date';

	import descriptionIcon from '@iconify/icons-material-symbols/description';
	import personIcon from '@iconify/icons-material-symbols/person';
	import dateRange from '@iconify/icons-material-symbols/date-range';
	import baselineMessage from '@iconify/icons-ic/baseline-message';
	import subjectIcon from '@iconify/icons-material-symbols/subject';
	import resultIcon from '@iconify/icons-carbon/result';
	import starIcon from '@iconify/icons-material-symbols/star';
	import chartAverage from '@iconify/icons-carbon/chart-average';
	import rankingBold from '@iconify/icons-solar/ranking-bold';
	import clockIcon from '@iconify/icons-mdi/clock';
	import penIcon from '@iconify/icons-mdi/pen';

	export let data;
</script>

<svelte:head>
	<title>{data.grade['subjectAbbrev'] + ' - ' + data.grade['markText']}</title>
</svelte:head>

<ContentView>
	<div class="sm:text-xl text-2xl p-2 flex flex-col sm:gap-3 gap-4">
		<Row data={data.grade['theme']} name="Název" icon={descriptionIcon} />
		<Row
			data={convertDateToString(new Date(data.grade['markDate']))}
			name="Datum"
			icon={dateRange}
		/>
		<Row data={data.grade['subjectName']} name="Předmět" icon={subjectIcon} />
		<Row data={data.grade['markText']} name="Známka" icon={resultIcon} />
		<Row data={data.grade['weight']} name="Váha" icon={starIcon} />
		<Row data={data.grade['teacherDisplayName']} name="Vyučující" icon={personIcon} />
		<Row data={data.grade['signedName'] || 'Ne'} name="Podepsáno" icon={penIcon} />
		{#if data.grade['classAverage']}
			<Row data={data.grade['classAverage']} name="Průměr třídy" icon={chartAverage} />
		{/if}
		{#if data.grade['classRankText']}
			<Row data={data.grade['classRankText']} name="Pořadí ve třídě" icon={rankingBold} />
		{/if}
		<Row data={data.grade['lessonId']} name="Vyučovací hodina" icon={clockIcon} />
		{#if data.grade['comment']}
			<Row data={data.grade['comment']} name="Komentář" icon={baselineMessage} />
		{/if}
	</div>
</ContentView>
