<script>
	import { footerName, footerVersion, loadFooter } from '$lib/js/misc/footer';

	loadFooter();

	const linkClasses =
		'transition text-primary hover:text-purple-500 hover:underline visited:text-primary';
</script>

<footer class="w-full absolute z-10 bottom-0">
	<div
		class="inner-footer flex flex-col md:flex-row flex-wrap justify-center items-center gap-2 p-2 bg-supplement"
	>
		<p>© Copyright 2022-2023 reŠOL</p>
		<span id="footer-dot" class="hidden md:block">&nbsp;&middot;&nbsp;</span>
		<p>
			Kód licencovaný pod <a
				class={linkClasses}
				target="_blank"
				href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a
			>&nbsp;&middot;&nbsp;<a class={linkClasses} target="_blank" href="https://codeberg.org/resol"
				>Codeberg</a
			>
		</p>
		<span id="footer-dot" class="hidden md:block">&nbsp;&middot;&nbsp;</span>
		{#if $footerName && $footerVersion}
			<p>{$footerName} {$footerVersion}</p>
		{/if}
	</div>
</footer>
